<% provide(:title, 'All Shows') %>
<h1>All Shows</h1>

<%= form_tag tvshows_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= will_paginate %>

<ul class="shows">
  <% @tvshows.each do |show| %>
    <li>
      <%= link_to show.name, show %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>