<% provide(:title, @tvshow.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @tvshow.name %>
      </h1>
      <br>
      <table>
        <tr>
          <td style="text-align: right;">
            <b>Year:</b>
          </td>
          <td style="padding-left: 10px;">
            <%= @tvshow.year %>
          </td>
        </tr>
        <tr>
          <td style="text-align: right;">
            <b>Genres:</b>
          </td>
          <td style="padding-left: 10px;">
            <% if @tvshow.genres.any? %>
              <% @genres.each_with_index do |genre, i| %>
                  <%= genre.genre %>
                  <% if i != @tvshow.genres.count - 1 %>
                   |
                  <% end %>
              <% end %>
            <% else %>
              None
            <% end %>
          </td>
        </tr>
        <tr>
          <td style="text-align: right;">
            <b>Episode Length:</b>
          </td>
          <td style="padding-left: 10px;">
            <%= @tvshow.episode_length %> min
          </td>
        </tr>
        <tr>
          <td style="text-align: right;">
            <b>Number of Seasons:</b>
          </td>
          <td style="padding-left: 10px;">
            <%= @tvshow.seasons %>
          </td>
        </tr>
      </table>
    </section>
  </aside>
</div>